{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
{{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
</div>

<main>
{{ .Content }}
</main>

<ul>
    {{ $pages := .Pages }}
    {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
    {{ range (where $pages "Section" "!=" "") }}
    <li>
      <span class="date">{{ .Date.Format "2006/01/02" }}</span>
      <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </li>
    {{ end }}
  </ul>

  {{ with .Params.categories }}
  <div class="categories">
    <h3>Categories:</h3>
    <ul>
      {{ range . }}
        <li><a href="/categories/{{ . | urlize }}">{{ . }}</a></li>
      {{ end }}
    </ul>
  </div>
{{ end }}

{{ with .Params.tags }}
  <div class="tags">
    <h3>Tags:</h3>
    <ul>
      {{ range . }}
        <li><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
      {{ end }}
    </ul>
  </div>
{{ end }}

{{ partial "footer.html" . }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const downloadButton = document.getElementById('download-pdf');
    if (downloadButton) {
      downloadButton.addEventListener('click', function (e) {
        e.preventDefault();

        // Add a small delay to ensure all dynamic content is rendered
        setTimeout(() => {
          // Add a class to the body to apply print styles
          document.body.classList.add('print-mode');

          // Select the content to export
          const element = document.querySelector('main'); // Adjust the selector to target your content

          // Configure html2pdf options
          const options = {
            margin: 10,
            filename: 'Sahil_Agnihotri_Vitae.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: {
              scale: 2, // Increase scale for better rendering
              letterRendering: true, // Enable letter rendering to fix word merging
              useCORS: true // Ensure cross-origin images are loaded
            },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
          };

          // Generate the PDF
          html2pdf()
            .set(options)
            .from(element)
            .save()
            .then(() => {
              // Remove the print-mode class after generating the PDF
              document.body.classList.remove('print-mode');
            });
        }, 500); // Adjust the delay as needed
      });
    }
  });
</script>
