{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
{{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
</div>

<main>
{{ .Content }}
</main>

<ul>
    {{ $pages := .Pages }}
    {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
    {{ range (where $pages "Section" "!=" "") }}
    <li>
      <span class="date">{{ .Date.Format "2006/01/02" }}</span>
      <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </li>
    {{ end }}
  </ul>

  {{ with .Params.categories }}
  <div class="categories">
    <h3>Categories:</h3>
    <ul>
      {{ range . }}
        <li><a href="/categories/{{ . | urlize }}">{{ . }}</a></li>
      {{ end }}
    </ul>
  </div>
{{ end }}

{{ with .Params.tags }}
  <div class="tags">
    <h3>Tags:</h3>
    <ul>
      {{ range . }}
        <li><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
      {{ end }}
    </ul>
  </div>
{{ end }}

{{ partial "footer.html" . }}